<div class="home-container">
    <mat-card class="welcome-card">
      <mat-card-content>
        <h1>Welcome to MovieRec</h1>
        <p>Your go-to app for movie recommendations and more!</p>
        <div class="button-group">
          <button mat-raised-button color="primary" [routerLink]="['/movies']">Browse Movies</button>
          <button mat-raised-button color="accent" [routerLink]="['/recommendations']">Get Recommendations</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  