/* src/app/home/home.component.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .welcome-card {
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: #bfb0b0; /* White background for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .button-group button {
    margin: 0 10px;
  }
  