<div class="register-form">
    <mat-card>
      <mat-card-content>
        <h2>Register</h2>
        <form (ngSubmit)="registerUser()" #registerForm="ngForm">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="user.username" name="username" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password" name="password" type="password" required>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Register</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  